* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {


  background-image: linear-gradient(90deg, black 14%, #691155 66%, #5343ab4a 158%);
  background-attachment: fixed;
  width: 100%;
  height: auto;
  animation: gradientSlide 1s ease-in-out infinite,
}

@keyframes gradientSlide {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* Navigačne menu */

#nav-bg {
  width: 5%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(19, 1, 53);
  box-shadow: 0px -1px 24px #0e023d;
  animation: slideDown 3s ease;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.nav-ul {

  width: 5rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-ul li {

  list-style: none;
  margin-top: 1.5rem;
  opacity: 0;
  transform: translateX(-100px);
}

@keyframes slideAndBounce {
  0% {
    opacity: 0;
    transform: translateX(-70px);
  }

  50% {
    opacity: 1;
    transform: translateX(0px);
  }

  65% {
    transform: translateX(-5px);

  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.nav-ul li:hover img {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.nav-ul li:hover {
  transition: background-color 0.3s ease;
}

.nav-ul li:hover img {
  transform: rotate(15deg);
  transition: transform 0.3s ease;
}

.nav-ul li:hover img {
  transform: scale(1.2) rotate(15deg);
  transition: transform 0.5s ease;
}

.nav-ul img {
  height: 4rem;
}

.tooltip {
  visibility: hidden;
  width: 120px;
  background-color: rgb(226, 216, 216);
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0px;
  position: absolute;
  z-index: 1;
  left: 130%;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.nav-ul li:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.hamburger {
  display: none;

  font-size: 30px;

  cursor: pointer;
  color: #000;

  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

#Domov {
  padding-top: 100px;
  margin-top: -100px;
}


#title-container {
  margin-top: 12%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4rem;
}

#inicials {}

.title-hi {
  color: aliceblue;
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  animation: slideFromLeft 1s ease forwards;

}

@keyframes slideFromLeft {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.title-name {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 1;
  color: #6ED869;
  font-size: 8rem;
  animation: slideFromRight 1s ease forwards;
  animation-delay: 0.5s;
  opacity: 0;
}

@keyframes slideFromRight {
  from {
    opacity: 0;
    transform: translateX(50%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.proffesions {
  color: #B0B9BD;
  position: relative;
  bottom: 1.8rem;
  display: flex;
  column-gap: 1rem;
  font-size: 2rem;
}

.title-prof,
.title-prof-second {
  position: relative;
  padding-left: 1rem;
  animation: scaleup 2s ease-in;
}



.title-prof::before,
.title-prof-second::before {
  content: '';
  position: absolute;
  left: 0;
  top: 55%;
  transform: translateY(-50%);
  width: 3px;
  height: 35px;
  background-color: blue;
}

.title-prof::before {
  background-color: #FECC00;
}

.title-prof-second::before {
  background-color: rgb(118, 131, 248);
}




.btn {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1.5rem;
  color: #EEE;
  border: none;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  background-color: #0a011a;
  box-shadow: inset -6px -6px 20px #0f010c, -4px -2px 3px #d3d8d188;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.btn::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  transition: all 0.4s ease-in-out;
  border-radius: 35%;
  display: block;
  z-index: 0;
}

.btn:hover::before,
.btn:focus::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

.left-btn,
.right-btn {
  margin-right: 0.8rem;
}

.right-btn {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1.5rem;
  color: #EEE;
  border: none;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  background-color: #0a011a;
  box-shadow: inset -6px -6px 20px #0f010c, -4px -2px 3px #51eb0a88;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.btn:hover,
.btn:focus {
  color: #FFF;
  box-shadow: inset 2px 2px 4px #0f0f0f, inset -2px -2px 4px #333;
  transform: scale(1.05);
}

.btn:active {
  color: #CCC;
  box-shadow: inset 1px 1px 2px #0f0f0f, inset -1px -1px 2px #333;
  transform: scale(0.95);
}




.logo {
  height: 30rem;
  display: flex;
  animation: scaleup 2s ease-in;

}


/*   Sekcia Profil  */

#Profil {

  width: 68%;
  height: auto;
  padding-top: 200px;
  margin: 200px auto;
}

#motto-container {
  position: relative;
  top: 10%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  max-width: 50%;


}

.motto {
  color: #6ED869;
  font-size: 3rem;

}

.motto::before {
  content: "";
  position: relative;
  padding-left: 3px;
  margin-right: 1%;
  top: 0;
  left: 0;
  width: 1px;
  height: auto;
  background-color: #6ED869;
}

.motto-text {
  padding-left: 5%;
  color: white;
  font-size: 1.5rem;
  text-align: justify;

}

.portret-container {
  width: 100%;
  height: auto;
}

.profil-img img {

  height: 80rem;
  float: right;
  position: relative;
  bottom: 35rem;
  left: 14rem;

}

.text-blocks-hidden {
  display: none;
}

#text-blocks-bg {
  border-left: 2px solid rgb(72, 44, 197);
  border-top: 2px solid rgb(88, 39, 179);
  padding: 15px;
  position: absolute;
  bottom: -90%;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 68%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.452);
  border-radius: 10px;
  box-shadow: inset 1px 5px 10px rgb(33, 1, 59), -5px -5px 5px rgba(15, 15, 15, 0.781);
}

.text-blocks {
  text-align: justify;
  font-size: 1.4rem;
  column-gap: 3rem;
  display: flex;
  color: white;
}

.text-blocks h3 {
  padding-bottom: 10%;
  color: #eed460;
}

.block1,
.block2,
.block3 {
  border-left: 3px solid yellow;
  padding-left: 2rem;
  position: relative;
  /* Necessary for absolute positioning inside */
}











/* Malé zariadenia (telefóny, do 600px)*/







@media (max-width: 600px) {
  #nav-bg {
    animation: none;
  }

  .hamburger {
    position: fixed;
    color: white;
    z-index: 1100;
    display: block;

  }

  body {

    background-image: linear-gradient(160deg, rgb(18, 1, 48) 42%, rgba(248, 243, 243, 0.952) 10%);
    min-height: 100vh;
    width: 100%;
   /* background-image: linear-gradient(150deg, black 14%, #691155 49%, #5343ab4a 102%);

    background-attachment: fixed;

    background-repeat: no-repeat;

    animation: gradientSlide 15s ease-in-out infinite, fadeEffect 5s ease-in-out infinite;

    min-height: 100vh;
    width: 100%;
    object-fit: cover;*/
  }

  @keyframes gradientSlide {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }



  #Domov {
    margin: -100px;

    width: 80%;
    margin: 35% auto;
  }

  #title-container {
    width: 100%;
    
  }

  .title-name {
    float: left;
    font-size: 3rem;
  }

  .title-hi {
    font-size: 2rem;
    color: #CDD3CA;
  }

  .proffesions {
    float: left;
    font-size: 1rem;
    bottom: 0rem;
  }

  .btn {
    border-radius: 10px;
    font-size: 0.8rem;
    bottom: -1rem;
  }

  #nav-bg {
    z-index: 1000;
    position: fixed;

    top: 0;
    left: -200%;

    width: 100%;

    height: 100%;

    transition: left 1s;

    background-color: rgb(18, 1, 48);

    margin: 0;
    box-shadow: none;
  }

  .nav-ul {
    
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: space-around;
  }

  .nav-ul li {
    
    margin: 0.5rem;

    transform: translateX(0);
    opacity: 1;

  }

  .nav-ul img {
    color: white;
    border-radius: 50%;
    background-color: white;
    height: 4rem;

  }

  .nav-ul li a {
    
  }



  .logo-container {
    position: absolute;
    top: 5%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    padding: 10px 0;
  }

  .logo {
    z-index: 1000;
    position: static;
    transform: none;
    top: auto;
    left: auto;
    width: 10rem;
  }

  /*  PROFIL */


  #Profil {
    margin-top: 50%;
    width: 95%
    
    
    
   
  }

  #motto-container {
  
    padding: 0;
    display: inline;
    width: 100%;
    height: auto;
    position: relative;
    
    top: -140px;

  }

  .motto {
    margin-bottom: 10%;
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
    color: rgb(235, 230, 229);
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    border-radius: 5px;
    padding: 15px;
    text-shadow: 1px 1px 0.5px rgb(37, 39, 37);
    

  }

  .motto-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    background-color: rgba(247, 239, 239, 0.87);
    backdrop-filter: blur(5px);
    box-shadow: inset 2px 2px 10px rgb(255, 255, 255), 0px 5px 10px black;
    border-radius: 5px;
    padding: 15px;
    width: 100%;
    font-size: 0.9rem;
    text-align: justify;
    color: #190236;

  }

  .profil-img img{
    opacity: 1;
    width: 100%;
    height: fit-content;
    
    position: absolute;
    top: -150px;
    left: 0;
  }

  #text-blocks-bg {
    display: none;
  }
  
  .text-blocks-hidden {
    background-color: rgba(247, 239, 239, 0.87);
    backdrop-filter: blur(5px);
    box-shadow: inset 2px 2px 10px rgb(255, 255, 255), 0px 5px 10px black;
    border-radius: 5px;
    position: static;
    
    width: 100%;
    
    padding: 25px;
    position: relative;
    top: 350px;
    margin-top: 3%;
    display: block;
  }

  .text-block {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-style: italic;
    
    color: #190236;
    
    margin: 10% -10px;
    text-align: justify;
  }

 

  .block1 h3, .block2  h3, .block3  h3 {
    text-shadow: 1px 1px 1px rgb(116, 113, 113);
    margin-left: -10px;
    color: rgb(43, 3, 80);
  }

  .block1,
  .block2,
  .block3 {
    border-left: 3px solid rgba(165, 179, 182, 0.247);
  
  }

}
